/* help I don't know what I'm doing */
html, body {
  height: 100%;
  background-color: #fdf6e3;
}

[v-cloak] {
  display: none;
}

/* stolen from SO:
http://stackoverflow.com/questions/90178/make-a-div-fill-the-height-of-the-remaining-screen-space
*/
.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row.header {
  flex: 0 1 auto;
}

#title {
  margin-left: 0.2em;
  font-size: 1.25em;
}

h1, h2 {
  font-weight: 300;
  font-size: 1.5em;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.box .row.content {
  flex: 1 1 auto;
}

.box .row.footer {
  margin-top: 0.25em;
  margin-left: 0.2em;
  flex: 0 1 40px;
}

#header {
  padding-top: 0.3em;
  height: 1.5em;
  font-size: 1.25em;
}

.room-name {
  display: inline-block;
}

#server-status {
  margin-right: 0.3em;
  float: right;
  display: inline-block;
}

#settings-toggle {
  margin-right: 0.3em;
  float: right;
  display: inline-block;
}

/* stolen from https://www.abeautifulsite.net/how-to-make-rounded-images-with-css */
.img-circle {
  border-radius: 50%;
}

.user-lock {
  width: 3.5em;
  height: 3.5em;
  border-color: gray;
  border-width: 0.15em;
  border-style: solid;
  background-color: grey;
  background: rgba(187, 187, 187, 0.28);
}

.untracked {
  opacity: 0.5;
}

.right {
  position: absolute;
  right: 0.2em;
}

input {
  border: none;
  overflow: hidden;
  line-height: 1;
  resize: none;
}

/* http://stackoverflow.com/questions/3397113/how-to-remove-border-outline-around-text-input-boxes-chrome
*/
textarea:focus, input:focus {
  outline: none;
}

#id {
  float: left;
}

.right {
  float: right;
}

/*
https://purecss.io/grids/
*/
.pure-g > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.l-box {
  padding: 1em;
}

.full {
  width: 100%;
}

/* https://vuejs.org/v2/guide/transitions.html */
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}

.fa-times {
  float: right;
  color: rgb(174, 180, 189);
  position: absolute;
  top: 8px;
  right: 20px;
}

.fa-times:hover {
  color: rgb(246, 131, 23);
}

.left {
  float: left;
  text-align: left;
}

#group-lock {
  background-color: #fdf6e3;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: relative;
  border-color: gray;
  border-width: 0.15em;
  border-style: solid;
  z-index: 401;
  margin: 0.3em;
}

.group-lock-item {
  list-style: none;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
}

#room-key {
  position: relative;
  text-align: center;
  width: 100%;
}

#init-overlay {
  text-align: center;
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 10000;
}

#room-key {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  height: 2em;
}

/* overlay with user configurable settings */
#settings-overlay {
  position: fixed;
  border-radius: 3%;
  display: none;
  width: 90%;
  height: 80%;
  top: 0;
  bottom: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  opacity: 0.90;
  z-index: 100000;
}

.select-avatar {
  width: 2.5em;
  height: 2.5em;
}

.select-avatar:hover {
  opacity: 0.8;
}

.selected-avatar {
  opacity: 0.2;
}

.clickable {
  cursor: pointer;
}

.settings-button {
  font-size: 2.2em;
  font-color: gray;
  font-weight: bold;
}

.room-button {
  overflow: hidden;
}

.inactive {
  border-color: red;
}

.pulse-active {
  margin: 100px;
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #1cff32;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(28,255,50, 0.4);
  animation: pulse-active 2s infinite;
}

.pulse-active:hover {
  animation: none;
}

@-webkit-keyframes pulse-active {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(28, 255, 50, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 0 rgba(28, 255, 50, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(28, 255, 50, 0);
  }
}
@keyframes pulse-active {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(28,255,50, 0.4);
    box-shadow: 0 0 0 0 rgba(28,255,50, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(28,255,50, 0);
    box-shadow: 0 0 0 10px rgba(28,255,50, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(28,255,50, 0);
    box-shadow: 0 0 0 0 rgba(28,255,50, 0);
  }
}

#map {
  position: relative;
}

#tool-bar {
  position: absolute;
  width: 100%;
  bottom: 0;
  opacity: 0.9;
  padding: 0.5em;
  background-color: #fdf6e3;
  z-index: 401;
}

#user {
  display: inline-block;
}

.other-user-time {
  font-size: 11px;
  text-align: center;
  height: 1.5em;
  width: 1.5em;
  padding: 0.15em;
  background-color: #c6f5b3;
  border-radius: 50%;
  position: relative;
  margin-left: -1.3em;
  margin-top: -0.4em;
  float: right;
}


#side-bar {
  top: 0;
  right: 0;
  float: left;
  position: relative;
  z-index: 401;
  margin: 0.3em;
}

#other-users-toggle {
  font-size: 2.5em;
  margin-bottom: 0.25em;
}

#other-users {
  overflow-y: auto;
  overflow-x: hidden;
}

.other-user {
  width: 3em;
  height: 3em;
  border-color: gray;
  border-width: 0.15em;
  border-style: solid;
  background-color: grey;
}

.log-error {
  color: red;
}

.log-warn {
  color: yellow;
}

.log-info {
  color: white;
}

.log-enter-active, .log-leave-active {
  transition: opacity .5s;
}

.log-enter, .log-leave-to {
  opacity: 0;
}

.leaflet-control-attribution {
  opacity: 0.5;
}

.user-active {
  border-color: #42f498;
}
.user-inactive {
  border-color: #f22424;
}

.serv-uninit {
  color: #151515;
}

.serv-connected {
  color: #90A959;
}

.serv-disconnected {
  color: #A63D40;
}

.serv-connecting {
  color: #E9B872;
}

